html, body {
  background: #4caf50;
  font-family: monospace;
}

.game-area {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 900px;
  height: 700px;
  background: #000;
}

.scoreboard {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  color: #404040;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
}

.scoreboard .player-1-score {
  width: 50%;
  float: left;
}

.scoreboard .player-2-score {
  width: 50%;
  float: right;
}

.paddle {
  position: absolute;
  background: #fff;
  width: 15px;
  height: 150px;
  border-radius: 3px;
}

.right-paddle {
  left: 885px;
}

.ball {
  position: absolute;
  background: #ddd;
  width: 20px;
  height: 20px;
  border-radius: 5%;
}
